<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>

<form action="/user/register" method="post">
    Name: <input type="text" name="name" minlength="3" maxlength="255">
    <br>
    Email: <input type="text" name="email" minlength="5" maxlength="255">
    <br>
    Password: <input type="password" name="password" minlength="4">
    <br>
    Phone: <input type="text" name="phone" minlength="10" maxlength="16">
    <br>
    <button type="submit">Register</button>
</form>

</body>
</html>